menu "LoongArch-core configuration menu"

choice
  prompt "Simulation backend"
  default BSIM

config BSIM
  bool "Enable BSC Connectal/Bluesim simulation"

config VSIM
  bool "Enable Verilog simulation/top-level debug ports"

config FPGA
  bool "Enable FPGA top-level without instruction debug ports"

endchoice

menu "TRACE_WAVE switch"
  depends on BSIM
  config TRACE_WAVE
    bool "Enable trace wave"
    default n
  config WAVE_PC_START
    hex "wave pc start"
    default 0x30000000
  config WAVE_PC_END
    hex "wave pc end"
    default 0x30000000
endmenu

  config DIFFTEST
    bool "Enable difftest"
    depends on BSIM || VSIM
    default n

  config TRACE_PERFORMANCE
    bool "Enable performance tracer"
    depends on BSIM
    default y

  config MTRACE
    bool "Enable memery trace"
    depends on BSIM
    default n
endmenu

menu "TLB Config"
config TLB_ENTRIES
    hex "Number of TLB entries (power of 2)"
    default 0x8
endmenu

menu "Cache Config"

menu "DCACHE"
config DCACHE_SETS
    hex "SETS"
    default 0x8

config DCACHE_WAYS
    hex "ASSOCIATIVITYS"
    default 0x4

config DCACHE_LINE_WORDS
    hex "BLOCKS"
    default 0x4

config DCACHE_REPLACE_RANDOM
    bool "cache replace random"
    default n

config DCACHE_REPLACE_PLRU
    bool "cache replace plru"
    default n

config DCACHE_REPLACE_LRU
    bool "cache replace lru"
    default y
endmenu


menu "ICACHE"
config ICACHE_SETS
    hex "SETS"
    default 0x10

config ICACHE_WAYS
    hex "ASSOCIATIVITYS"
    default 0x1

config ICACHE_LINE_WORDS
    hex "BLOCKS"
    default 0x4

config ICACHE_REPLACE_RANDOM
    bool "cache replace random"
    default n

config ICACHE_REPLACE_PLRU
    bool "cache replace plru"
    default n

config ICACHE_REPLACE_LRU
    bool "cache replace lru"
    default y

endmenu

endmenu
